<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 Alireza Azizkhani</p>
      <div class="footer-links">
        <a href="mailto:alireza.azizkhani.2003@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="https://twitter.com/po_isMine"><i class="fab fa-twitter"></i></a>
        <a href="https://t.me/AlirezAzizkhani"><i class="fab fa-telegram"></i></a>
        <a href="https://linkedin.com/in/alireza-azizkhani"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/AA-2003"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </footer>